
<div class="container-tela" style="display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-left: 3%;">
<h2 class="titulo-adocao">Gatos e cachorros para adoção em Girassol-GO</h2>

<div class="filtrar-por">
  <h2 class="label-filtros" style="white-space: nowrap;">Filtrar por:</h2>
  <span (click)="buscarTodosAnimais()" class="span-limpar-todos">Limpar todos</span>
</div>
  <div class="container-toolbar">

      <div class="filtros">

      <div class="caixinha-filtros">
        <div class="filtro-dog">
          <i style=" font-size: 30px;" class="fas fa-duotone fa-dog"></i>
          <h2 class="label-filtros" (click)="buscarDogs()">Cachorros</h2>
        </div>
        <div class="filtro-cat">
          <i style=" font-size: 30px;" class="fas fa-solid fa-cat"></i>
          <h2 class="label-filtros" (click)="buscarGatos()">Gatos</h2>
        </div>
      </div>
      </div>

  </div>


  <!-- container de cards -->
  <div class="container-animais p-grid" style="display: flex;
  justify-content: center;">
    <!-- cards de animais -->
    <div class="p-grid listagem-animais-container" style="">
      <p-card *ngFor="let objeto of animais" header="{{objeto.nome}} " subheader="{{objeto.sexo}}"
        class="p-card-shadow p-col p-md-4">
        <p-header>
          <img style="width:320.5px;
          height: 246px;" [src]="'data:image/gif;base64,' + objeto?.imagens[0]?.url" />
        </p-header>
        <p-title>
         <span style="font-weight: 400;
         margin-bottom: 0.5rem;
         color: #6c757d;">{{objeto.cidade | uppercase}}</span>
        </p-title>
        <ng-template class="footer-adotar-animais" pTemplate="footer">
          <div style="display: flex !important;
          justify-content: center !important;">
          <div class="container-botoes">
          <button  class="botao-card-detalhes" (click)="show()"
            (click)="detalharAnimal(objeto.id, objeto.nome, objeto.sexo, objeto.descricao, objeto.especie, objeto.raca, objeto.idade, objeto. cidade,
            objeto.castrado,objeto.vacinado,objeto.vermifugado,objeto.porte, objeto.nome_dono, objeto.telefone_dono,
             objeto.imagens)">
            Saiba mais
          </button>
          <button class="botao-card-adotar1" routerLink="/login" label="Quero adotar">Quero adotar</button>
        </div>
      </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
