::ng-deep {

  .toolbar-container {
    padding-bottom: 3%;
    width: 50%;
    padding-top: 1.5%;
    min-width: 372px;
  }

  .p-grid>.p-col,
  .p-grid>[class*=p-col] {
    box-sizing: border-box;
    padding-right: 40px;
  }

  app-adotar-animais {
    width: 90%;
  }

  .footer-adotar-animais .p-card-footer {
    margin-left: 50px;
  }

  .p-card .p-card-footer {
    padding: 0
  }

  .p-ripple {
    border-radius: 5px;
  }

  p.card {
    min-width: 320px
  }

  .p-card .p-card-subtitle {
    font-weight: 400;
    margin-bottom: -4px;
    color: #6c757d;
}

  .p-card-header img {
    width: 320.5px;
    height: 246px;
  }

  .titulo-adocao {
    display: flex;
    color: #ff6a00;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    text-transform: uppercase;
  }


  .botao-card-adotar1 {
    background-image: linear-gradient(to right, #ff6a00, #dd4141);
    color: #ffffff;
    border: 1px solid #ff6a00;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
  }

  .botao-card-detalhes {
    color: #ffffff;
    background: #2196F3;
    border: 1px solid #2196F3;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
    cursor: pointer;
  }

  .p-toolbar,
  .p-toolbar-group-left,
  .p-toolbar-group-right {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    width: 100% !important;

  }

  .p-toolbar {
    background: white;
    border-radius: 5px;
    margin-left: -4px;
  }

  .filtros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:column;
    padding-bottom: 5%;
    width: 82%;

  }

  .caixinha-filtros{
    display: flex;
    justify-content: space-between;
    width: 322px;
  }

  .container-animais {

    padding-bottom: 10%;
    width: 100%;


  }


  img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
    height: 100%;
  }


  .p-grid>.p-col,
  .p-grid>[class*=p-col] {
    box-sizing: border-box;
    width: 320px;
    max-width: 320px;
    min-width: 320px;
    padding-bottom: 5%;
  }


  .p-card {
    background: #ffffff;
    color: #495057;
    border-radius: 7px;
    box-shadow: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 10px 10px 10px 12px;
    transition: top 0.5s ease 0s;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 320px;
    height: 450px;

  }

  .container-botoes {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .p-dialog .p-dialog-content {
    background: #ffffff;
    color: #495057;
    padding: 0 1.5rem 2rem 1.5rem;
    height: 100%;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .span-limpar-todos{
    background: transparent;
    font-family: Mulish;
    font-weight: bold;
    font-size: 18px;
    color: #535151;
    text-decoration: underline;
    cursor: pointer;
  }

  .filtrar-por{
    margin-top: 19px;
    width: 351px;
    display: flex;
    height: 42px;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width: 445px) {
    .container-animais {

      padding-bottom: 10%;
      width: 100%;


    }
  }

  @media screen and (min-width: 768px) {
    .p-card-shadow .p-col .p-md-4 {
      width: initial !important;
    }
  }

  @media screen and (max-width:976px) {
    .container-tela{
      margin-top: 5%;
    }
  }
  @media screen and (max-width:613px) {

    .filtro-cat{
      display: flex;
        align-items: center;
        justify-content: space-between;
        width: 99px  !important;
        cursor: pointer;
    }

    .filtro-dog{
      display: flex;
        align-items: center;
        justify-content: space-between;
        width: 143px  !important;
        cursor: pointer;
    }


    .caixinha-filtros {
      display: flex;
      justify-content: space-between;
      width: 273px;
  }
    .container-tela{
      margin-top: 15%;
    }

    .label-filtros{
      font-size: 20px;
    }
  }

  .p-md-4 {
    width: auto !important;
  }

  @media screen and (max-width:882px) {
    .toolbar-container {
      padding-bottom: 3%;
      width: 100%;
      padding-top: 1.5%;
    }

    .p-grid{
      margin-top: 15px;
    }
  }




  $offset: 187;
  $duration: 1.4s;

  .spinner {
    animation: rotator $duration linear infinite;
    margin-bottom: 25%;
    margin-top: 10%;
  }

  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(270deg);
    }
  }

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
      dash $duration ease-in-out infinite,
      colors ($duration*4) ease-in-out infinite;
  }

  @keyframes colors {
    0% {
      stroke: #4285F4;
    }

    25% {
      stroke: #DE3E35;
    }

    50% {
      stroke: #F7C223;
    }

    75% {
      stroke: #1B9A59;
    }

    100% {
      stroke: #4285F4;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: $offset;
    }

    50% {
      stroke-dashoffset: $offset/4;
      transform: rotate(135deg);
    }

    100% {
      stroke-dashoffset: $offset;
      transform: rotate(450deg);
    }
  }
}

.filtro-dog{
  display: flex;
    align-items: center;
    justify-content: space-between;
    width: 162px;
    cursor: pointer;
}

.filtro-cat{
  display: flex;
    align-items: center;
    justify-content: space-between;
    width: 109px;
    cursor: pointer;
}

.container-toolbar{
  display: flex;
    background: white;
    border-radius: 7px;
    border: 1px solid #c5c0c0;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    height: 64px;
    margin-top: 15px;
    margin-bottom: 80px;
}
