
<div class="container-tela" style="display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-left: 3%;">
  <h2 class="titulo-adocao">Gatos e cachorros para adoção em Girassol-GO</h2>

  <div style="padding-bottom: 3%; width: 50%; padding-top: 1.5%;">
    <p-toolbar>
      <div class="p-toolbar-group-left" style="width: 50%;">
        <div class="filtros">
          <h2>Filtrar por:</h2>
          <i style=" font-size: 30px;" class="fas fa-duotone fa-dog"></i>
          <h2>Cachorro</h2>
          <i style=" font-size: 30px;" class="fas fa-solid fa-cat"></i>
          <h2>Gato</h2>
        </div>
      </div>
    </p-toolbar>
  </div>

  <!-- Loading -->
  <svg *ngIf="isLoading" class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
    xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
  </svg>


  <!-- container de cards -->
  <div *ngIf="!isLoading" class="container-animais p-grid" style="display: flex;
  justify-content: center;">
    <!-- cards de animais -->
    <div class="p-grid" style="display: flex; justify-content: space-evenly; width: 100%; padding-right: 20px;">
      <p-card *ngFor="let objeto of animais" header="{{objeto.nome}} " subheader="{{objeto.sexo}}"
        class="p-card-shadow p-col p-md-4">
        <p-header>
          <img [src]="'data:image/gif;base64,' + objeto?.imagens[0]?.url" />
        </p-header>
        <p-title>
          <i class="fa-solid fa-heart"></i>
        </p-title>
        <ng-template class="footer-adotar-animais" pTemplate="footer">
          <div style="display: flex !important;
          justify-content: flex-end !important;">
          <div class="container-botoes">
          <button  class="botao-card-detalhes" label="Detalhes" (click)="show()"
            (click)="detalharAnimal(objeto.id, objeto.nome, objeto.sexo, objeto.descricao, objeto.especie, objeto.raca, objeto.idade, objeto. cidade, objeto.imagens)">
            Detalhes
          </button>
          <button class="botao-card-adotar1" routerLink="/login" label="Quero adotar">Quero adotar</button>
        </div>
      </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
