::ng-deep {

  .modal-detail-animal .p-dialog {
    min-width: 360px !important;

  }

  .modal-detail-animal .p-dialog .p-dialog-header {
    border: none;
    height: 30px !important;
  }


app-detalhar-animais{
  margin-right: -40px;
    margin-left: -40px;
}

  .container-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .li-modal-detail{
    width: 120px;
  }

  .titulo-card-detail {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}

  .contador-imagens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
  }

  .fa-chevron-left:before {
    content: "\f053";
    cursor: pointer;
  }

  .primeira-lista-informacoes {
    // width: 190px;
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 20px;
  }

  .segunda-lista-informacoes {
    width: 340px;
    margin-top: -10px;
    margin-right: 20px;

  }

  ul {
    list-style-type: none;
  }

  .modal-detail-animal .p-dialog {
    border-radius: 5px;

  }

  .modal-detail-animal .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #ffffff;
    color: #495057;
    padding: 1.5rem;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
  }

  .modal-detail-animal .p-dialog .p-dialog-content {
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: auto;
    padding: 0;
  }

  .imagem-paginador {
    width: 400px;
    height: 100%;
    border-radius: 5px;
    min-width: 280px;
    min-height: 265px;
  }

  .botao-paginador {
    width: 50px;
    background: #ded3d3;
    border: none;
    border-radius: 50%;
    height: 50px;
  }

  .container-componente {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

  .paginador {
    height: 505px;
    display: flex;
    align-items: center;
    margin-top: -30px;
  }

  .icone-paginador {
    font-size: 40px;
  }

  .modal-detail-animal .p-dialog {
    min-width: 360px;

  }

  .modal-detail-animal .p-dialog .p-dialog-header {
    border: none;
    height: 30px !important;
  }



  .container-modal {
    display: flex;
    justify-content: space-between;
  }

  .botao-card-animal-detalhar .p-button {
    background-image: linear-gradient(to right, #ff6a00, #dd4141);
    height: 39.2px !important;
    border-radius: 5px;
    border-color: #ff6a00;
  }

  .botao-card-animal-detalhar .p-button:hover {
    background-image: linear-gradient(to right, #b65008, #dd4141);
    border-color: #ff6a00;
  }

  .container-imagem {
    width: 400px;
    height: 80%;
  }

  .botoes-container {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin-bottom: 50px;
}

  @media screen and (min-width:1380px) {
    .container-componente {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 90%;
  }
  }

  @media screen and (max-width:1334px) {

    .container-imagem {
      width: 100%;
      height: 70%;
    }
  }

  @media screen and (max-width:1228px) {
    .container-modal {
      display: flex;
      justify-content: space-between;
      margin-left: 0px !important;
    }

  }

  @media screen and (max-width:1413px) {
    .container-modal {
      display: flex;
      justify-content: space-between;
      margin-left: -60px;
    }

  }

  @media screen and (max-width:1286px) {
  //   .paginador {
  //     height: 505px;
  //     display: flex;
  //     align-items: center;
  //     margin-top: -30px;
  //     margin-right: 30px;
  // }
  }

  @media screen and (max-width:1218px) {
    .paginador {
      height: 505px;
      display: flex;
      align-items: center;
      margin-top: -30px;

  }
  }
  @media screen and (max-width: 1180px) {
    .imagem-paginador {
      width: 350px;
      height: 350px;
      border-radius: 5px;
    }

    .container-imagem{
      width: 350px;
      height: 350px;
    }

  }

  @media screen and (max-width: 1079px) {


    .container-modal {
      display: flex;
      justify-content: space-between;
      margin-left: 0px !important;
      margin-top: 20px;
    }

  }

  @media screen and (max-width: 1079px) and (min-width:1020px) {
    .container-imagem{
      width: 350px;
      height: 350px;
    }
  }



  @media screen and (max-width:1234px) {
    .container-componente {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
  }
  }

  @media screen and (max-width: 975px) {
    .imagem-paginador {
      width: 280px;
      height: 280px;
      border-radius: 7px;
    }

    .container-imagem{
      width: 280px;
      height: 280px;
    }


    .container-componente {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    #icon-paginator-left {
      font-size: 30px !important;
      color: #636a72;
      cursor: pointer !important;
    }

    #icon-paginator-right {
      font-size: 30px !important;
      color: #636a72;
      cursor: pointer;
    }

    .fa .fa-chevron-left {
      font-size: 25px;
      color: #636a72;
      cursor: pointer;
    }

    .paginador {
      height: 390px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .container-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .botoes-container {
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
      width: 270px;
      margin-bottom: 40px;
    }
  }





}
