<div class="header-modal">
  <!-- <i class="fa fa-x" style="font-size:19px; cursor: pointer;" (click)="FecharModal()"></i>
</div>
<div class="container-componente">


  <div class="paginador">
    <button class="botao-paginador" (click)="decrementIndex()"><i class="fa fa-chevron-left " id="icon-paginator-left"
        style="font-size: 40px; color: #636a72"></i></button>
    <img class="imagem-paginador" [src]="'data:image/gif;base64,' + atributosModal?.imagens[arrayIndex]?.url"
      alt="Imagem">
    <button class="botao-paginador" (click)="incrementIndex()"><i class="fa fa-chevron-right"  id="icon-paginator-right"
        style="font-size: 40px; color: #636a72;"></i></button>
  </div> -->

teste
<p>teste</p>
  <!-- <div class="container-modal"> -->

    <!-- <div  class="container-ul"> -->

      <h1> {{ atributosModal.nome }} </h1>

      <!-- <ul class="primeira-lista-informacoes">
        <li>
          <h3>Espécie</h3>
          {{atributosModal.especie}}
        </li>
        <li>
          <h3>Raça</h3>
          {{atributosModal.raca}}
        </li>
        <li>
          <h3>Sexo</h3>
          {{atributosModal.sexo}}
        </li>
        <li>
          <h3>Idade</h3>
          {{atributosModal.idade + " anos"}}
        </li>
      </ul> -->
      <ul class="segunda-lista-informacoes">
        <li>
          <h3>Cidade</h3>
          {{atributosModal.cidade}}
        </li>
        <li>
          <h3>Descrição</h3>
          {{atributosModal.descricao}}
        </li>
        <div class="botoes-container">
          <p-button label="Fechar" (click)="FecharModal()"></p-button>
          <p-button class="botao-card-animal-detalhar" routerLink="/login" label="Quero adotar"></p-button>
        </div>
      </ul>

     <!-- </div>  -->


   <!-- </div> -->


</div>

