::ng-deep {
  .contador-imagens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }

  .fa-chevron-left:before {
    content: "\f053";
    cursor: pointer;
  }

  .primeira-lista-informacoes {
    width: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 20px;
  }

  .segunda-lista-informacoes {
    width: 190px;
    margin-right: 20px;
    margin-top: -9px;
  }

  ul {
    list-style-type: none;
  }

  .p-dialog {
    border-radius: 5px;

  }

  .header-modal {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    margin-bottom: -20px;
  }

  .imagem-paginador {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .botao-paginador {
    background: transparent;
    border: none;
  }

  .container-componente {
    display: flex;
    flex-direction: row;

  }

  .paginador {
    height: 505px;
    display: flex;
    align-items: center;
  }

  .icone-paginador {
    font-size: 40px;
  }

  .p-dialog {
    min-width: 360px;

  }

  .p-dialog .p-dialog-content {
    overflow: hidden;
    border-radius: 5px;
    overflow-y: auto;

  }

  img {

    width: 320px;
    height: 320px;
  }

  .container-modal {
    display: flex;
    justify-content: space-between;
  }

  .botao-card-animal-detalhar .p-button {
    background-image: linear-gradient(to right, #ff6a00, #dd4141);
    height: 39.2px !important;
    border-radius: 5px;
    border-color: #ff6a00;
  }

  .botao-card-animal-detalhar .p-button:hover {
    background-image: linear-gradient(to right, #b65008, #dd4141);
    border-color: #ff6a00;
  }

  .container-imagem {
    width: 80%;
    height: 80%;
  }

  .botoes-container {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 230px;
  }

  @media screen and (max-width:1334px) {

    .container-imagem{
      width: 70%;
      height: 70%;
    }
  }

  @media screen and (max-width:1228px) {
    .container-modal {
      display: flex;
      justify-content: space-between;
      margin-left: -100px !important;
    }

  }

  @media screen and (max-width:1413px) {
    .container-modal {
      display: flex;
      justify-content: space-between;
      margin-left: -60px;
    }

  }

  @media screen and (max-width: 1180px) {
    .imagem-paginador {
      width: 85%;
      height: 75%;
      border-radius: 5px;
    }

  }

  @media screen and (max-width: 1079px) {


    .container-modal {
      display: flex;
      justify-content: space-between;
      margin-left: 0px !important;
    }

  }

  @media screen and (max-width: 975px) {
    .imagem-paginador {
      width: 280px;
      height: 280px;
      border-radius: 7px;
    }

    .container-imagem{
      width: 100% !important;
    }

    .container-componente {
      display: flex;
      flex-direction: column;
    }


    #icon-paginator-left {
      font-size: 30px !important;
      color: #636a72;
      cursor: pointer !important;
    }

    #icon-paginator-right {
      font-size: 30px !important;
      color: #636a72;
      cursor: pointer;
    }

    .fa .fa-chevron-left {
      font-size: 25px;
      color: #636a72;
      cursor: pointer;
    }

    .paginador {
      height: 390px;
      display: flex;
      align-items: center;
      margin-left: -24.5px;
    }

    .container-ul {
      display: flex;
      flex-direction: column;
      // margin-top: -25px;
    }

    .botoes-container {
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
      width: 230px;
    }
  }





}
