::ng-deep {


  .p-dialog .p-dialog-content {
    border-radius: 0px !important;
    overflow: hidden;
    overflow-y: auto;
  }


}

.div-img {
  display: flex;
  width: 100% !important;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 300px !important;
  margin-bottom: 40px;
}

.botoes-paginador {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 130px;
}

.botao-lixeira:hover {
  color: red;
}

.botao-lixeira {
  background-color: transparent;
  border: none;
  margin-left: 260px;
  margin-top: -25px;
}

.imagens-upadas {
  margin-top: 30px;
  display: flex;
  min-width: 330px;
  margin-bottom: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.p-grid {
  display: flex;
  justify-content: center;
}

.manager-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.botao-fechar {
  border: 1px solid #2196F3;
  border-radius: 5px;
  height: 39.2px;
  color: #2196F3;
  background: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;

}

.container-inputs-form{
  display: flex;
   justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 40px;
  max-width: 500px;
}

.botao-salvar {
  border: none;
  border-radius: 5px;
  height: 39.2px;
  color: white;
  background: #2196F3;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.caixa-botoes {
  display: flex;
  justify-content: space-between;
  width: 187px;
  margin-bottom: 40px;
  margin-top: 30px;
}

@media screen and (max-width: 975px) {
  .manager-grid {
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
}

.container-botoes {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.caixinha-botoes {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

@media screen and (max-width: 975px) {
  .container-botoes {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
