:host ::ng-deep {



  .p-dialog .p-dialog-content {
    border-radius: 0px !important;
    overflow: hidden;
    overflow-y: auto;
  }


}

.div-img {
  display: flex;
  width: 100% !important;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 300px !important;
  margin-bottom: 40px;
}

.botoes-paginador {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 130px;
}

.botao-lixeira:hover {
  color: red;
}

.botao-lixeira {
  background-color: transparent;
  border: none;
  margin-left: 260px;
  margin-top: -25px;
  margin-bottom: 50px;
}

.imagens-upadas {
  width: 500px;
  margin-top: 30px;
  display: flex;
  min-width: 330px;
  margin-bottom: 64px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.p-grid {
  display: flex;
  justify-content: center;
}

.manager-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.botao-fechar {
  border: 1px solid #2196F3;
  border-radius: 5px;
  height: 39.2px;
  color: #2196F3;
  background: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;

}

.container-inputs-form{
  display: flex;
   justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 40px;
  max-width: 500px;
}

.botao-salvar {
  border: none;
  border-radius: 5px;
  height: 39.2px;
  color: white;
  background: #2196F3;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.caixa-botoes {
  display: flex;
  justify-content: space-between;
  width: 187px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.botao-paginador-edit {
  width: 50px;
  background: #ded3d3;
  border: none;
  border-radius: 50%;
  height: 50px;
}

.contador-imagens-edit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
}

.container-radio-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.caixinha-radio-button{
  width: 75px;
    display: flex;
    justify-content: space-between;
}

.input-add-animal{
  margin: 0;
  border: 1px solid #8e8585 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  padding: 0.5rem 0.5rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 3px;
}

@media screen and (max-width: 975px) {
  .manager-grid {
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
}

.container-botoes-edit{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.caixinha-botoes-edit{
  display: flex;
  width: 200px;
  justify-content: space-between;
}

@media screen and (max-width: 975px) {
  .container-botoes-edit {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}


.p-dropdown .p-dropdown-label{
  background: transparent;
  border: 0 !important;
}

.container-dropdown{
  width: 198px;
}

.container-dropdown .p-dropdown{
  width: 198px;
  border: 1px solid #8e8585 !important;
}

