::ng-deep {
  .input-login {
    background: 0% 0% no-repeat padding-box padding-box #eeeeee;
    display: block;
    width: 100%;
    height: 50px;
    outline: 0px;
    resize: none;
    padding: 15px 22px;
    border: 1px solid #eeeeee;
    background: 0% 0% no-repeat padding-box padding-box #eeeeee;
    border-radius: 6px;
    color: #252323;
    font-family: Mulish;
    font-size: 19px;
    width: 90%;
}
 .botao-login .p-ripple{
    width: 100%;
  }


  label {
    color: rgb(69, 69, 69);
    font-size: 1.9rem;
    margin-bottom: 20px;
  }


  .containerBotaoLogin {
    border: 1px solid #d6d3d3;
    height: 320px;
    display: flex;
    flex-direction: column;
    width: 360px;
    justify-content: space-between;
    background: white;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 10px 10px 10px 12px;
    transition: top 0.5s ease 0s;
    align-items: center;
}


app-login{
    width: 1456px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;

}















}
