<body>
  <p-toast></p-toast>
  <p-sidebar [(visible)]="displaySideBar" dismissable="false">
    <a routerLink="/home">
      <h1 style="width: 180px !important; color: white;"><i style="color: white;" class="fas fa-solid fa-paw"></i>Gira-Pets</h1>
    </a>
    <ul class="ul-sidebar">
      <li> <a  style="color: white; font-size: 20px;" routerLink="/home">Inicio</a></li>
      <li><a style="color: white; font-size: 20px;" routerLink="">Entrar</a></li>
      <li><a style="color: white; font-size: 20px;" routerLink="">Quem somos</a></li>
      <li><a style="color: white; font-size: 20px;" routerLink="">Contato</a></li>
      <li><a style="color: white; font-size: 20px;" routerLink="">Ajude-nos</a></li>
      <li><a style="color: white; font-size: 20px;" routerLink="">Doação</a></li>
      <li><a style="color: white; font-size: 20px;" routerLink="">Unidades</a></li>
      <li><a style="color: white; font-size: 20px;" routerLink="">FAQ</a></li>
    </ul>
  </p-sidebar>
  <header class="header-novo">
    <nav style="width: 100%;">
      <div class="menu-icon">
        <i class="fa fa-bars fa-2xl" (click)="displaySideBar = true"></i>
        <div class="logo-botao-header-mobile">
          <a routerLink="/home">
            <h1><i class="fas fa-solid fa-paw"></i>Gira-Pets</h1>
          </a>
          <p-button class="botaoAdotar" routerLink="/quero-adotar" label="Quero adotar"></p-button>
        </div>
      </div>


      <ul class="menu">

        <li><a routerLink="/home">
            <h1><i class="fas fa-solid fa-paw"></i>Gira-Pets</h1>
          </a></li>
        <li> <a style="color: rgb(117, 117, 117); font-size: 20px;" routerLink="/home">Home</a></li>
        <li><a style="color: rgb(117, 117, 117); font-size: 20px;" routerLink="">Quem somos</a></li>
        <li><a style="color: rgb(117, 117, 117); font-size: 20px;" routerLink="">Contato</a></li>
        <li><a style="color: rgb(117, 117, 117); font-size: 20px;" routerLink="">Ajude-nos</a></li>
        <li><a style="color: rgb(117, 117, 117); font-size: 18px;" routerLink="">FAQ</a></li>

        <div class="container-dos-botoes">
          <p-button routerLink="/login" label="Quero doar"></p-button>
          <p-button class="botaoAdotar" routerLink="/quero-adotar" label="Quero adotar"></p-button>
          <p-button class="botaoEntrar" routerLink="/login" label="Entrar"></p-button>
          <p-button class="botaoEntrar" routerLink="/gerenciar-animais" label="Gerenciar animais"></p-button>
        </div>
      </ul>
    </nav>
  </header>


  <!-- <header style="display: flex; justify-content: center; position: fixed; width: 100%;">
    <div style="display: flex;
    align-items: center;
    justify-content: space-between; width: 80%;">

      <a routerLink="/home">
        <h1><i class="fas fa-solid fa-paw"></i>Gira-Pets</h1>
      </a>
      <a style="color: rgb(117, 117, 117); font-size: 20px;" routerLink="/home">Home</a>
      <a style="color: rgb(117, 117, 117); font-size: 20px;" routerLink="">Quem somos</a>
      <a style="color: rgb(117, 117, 117); font-size: 20px;" routerLink="">Contato</a>
      <a style="color: rgb(117, 117, 117); font-size: 20px;" routerLink="">Ajude-nos</a>
      <a style="color: rgb(117, 117, 117); font-size: 18px;" routerLink="">FAQ</a>
      <div style="display: flex;
      width: 45%;
      justify-content: space-between;">
      <p-button  routerLink="/login" label="Quero doar"></p-button>
      <p-button class="botaoAdotar" routerLink="/quero-adotar" label="Quero adotar"></p-button>
      <p-button class="botaoEntrar" routerLink="/login" label="Entrar"></p-button>
      <p-button class="botaoEntrar" routerLink="/gerenciar-animais" label="Gerenciar animais"></p-button>

    </div>
    </div>


  </header> -->

  <main style="display: flex; justify-content: center;">
    <div class="container" style="margin-top: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer>
    <div class="footer-content">
      <div class="footer-info">
        <h4 style=" display: flex;
        justify-content: space-between;
        width: 12vw;
        font-size: 20px;"><i class="fas fa-sharp fa-solid fa-paw" style="color: #ffffff;"></i>Sobre o Gira-Pets</h4>

      </div>
      <p>
        Gira-Pets é um programa criado para estreitar laços entre pessoas que têm o sonho de adotar um pet e nossas
        ONGs e protetores parceiros.
        Vamos juntos incentivar a adoção, conscientizar sobre a posse responsável e fomentar a cultura de doação em
        prol do bem-estar animal.
      </p>
      <div class="footer-links">
        <h4>Institucional</h4>
        <ul>
          <li><a href="#">Sobre o Gira-Pets</a></li>
          <li><a href="#">Os pets nas lojas</a></li>
          <li><a href="#">Transparência com você</a></li>
          <li><a href="#">Histórias de impacto</a></li>
          <li><a href="#">Projetos sociais</a></li>
          <li><a href="#">Unidades</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-social-media">
        <h4>Acesse nossas redes sociais</h4>
        <ul>
          <li><a href="https://www.facebook.com/girapets">Facebook</a></li>
          <li><a href="https://www.instagram.com/girapets">Instagram</a></li>
        </ul>
      </div>
    </div>
    <p class="footer-copy">&copy; 2023 Gira-Pets. Todos os direitos reservados.</p>
  </footer>
  <app-loading *ngIf="isActive"></app-loading>
</body>
