::ng-deep {

  @media screen and (max-width:975px) {
    .p-toast-top-right {
      left: 4px !important;
      top: 20px;
    }

    .p-toast {
      position: fixed;
      width: 390px !important;
    }
  }

  app-detalhar-animais {
    display: flex;
    justify-content: center;
  }

  header {
    background-color: white;
    box-shadow: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;
    transition: top 0.5s ease 0s;
    height: 90px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    // z-index: 9999;
  }

  // h1 {
  //   display: flex;
  //   color: #4783b3;
  //   justify-content: space-between;
  //   width: 240px;
  // }

  /* Estilos para o corpo */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Define a altura mínima do corpo como 100% da altura da viewport */
    margin: 0;
    overflow-x: hidden;

  }

  main {
    flex: 1;
    /* Ocupa todo o espaço restante do corpo */
    padding: 20px;
    overflow-x: hidden;
  }

  /* Estilos para o rodapé */
  footer {
    background-color: #1272c0;
    color: #fff;
    padding: 20px;
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
    color: White;
    /* Defina a cor do link conforme desejado */
  }



  .p-sidebar .p-sidebar-close {
    width: 2rem;
    height: 2rem;
    color: white !important;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  }

  .p-sidebar-left.p-sidebar-active {
    background: #2196F3;
  }

  .p-splitbutton .p-splitbutton-defaultbutton {
    -ms-flex: 1 1 auto;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-top-right-radius: 0;
    flex: 1 1 auto;
    // display: none;
  }

  .botaoEntrar .p-ripple {
    background-color: white;
    color: #1272c0;
    border-radius: 5px;
  }

  .p-button .botaoHeader {
    color: #ffffff;
    background: red;
    border: 1px solid #2196F3;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 5px;
  }

  .p-button {
    position: inherit;
  }


  .li-header-app {
    display: flex;
    align-items: center;
  }

  .li-sidebar {
    display: flex !important;
    align-items: center !important;
    margin-right: 40px;

  }

  .header-novo {
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 9999;
  }

  .container-dos-botoes {
    display: flex;
    width: 25%;
    min-width: 250px;
    justify-content: space-between;
    align-items: center;
}

  .container-dos-botoes-deslogado {
    display: flex;
    width: 33%;
    min-width: 333px;
    justify-content: space-between;
    align-items: center;
  }



  body {
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #333;
    padding: 10px 20px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    cursor: pointer;
    display: none;

  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.3s;
  }

  .menu {
    display: flex;
    list-style: none;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu li a {
    color: #fff;
    text-decoration: none;
  }

  .ul-sidebar {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: -30px;
    margin-top: -20px;
  }



  @media only screen and (max-width: 1083px) {
    .menu {
      display: none;
    }

    .logo-botao-header-mobile {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 20px;
    }

    .menu-icon {
      display: block;
      width: 100% !important;
      display: flex !important;
      align-items: center !important;
    }

    .menu-icon.active .bar:nth-child(2) {
      opacity: 0;
    }

    .menu-icon.active .bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-icon.active .bar:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }

    .menu-icon.active~.menu {
      display: flex;
      flex-direction: column;
    }
  }








}

.footer-info {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.footer-links {
  display: flex;
  width: 250px;
  justify-content: center;
  flex-direction: column;
}

.footer-social-media {
  display: flex;
  align-items: flex-start;
  width: 200px;
  flex-direction: column;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-bottom: 35px;
  flex-wrap: wrap;
}

.footer-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ul-footer {
  margin-top: -5px;
}

body {
  font-family: Mulish, sans-serif;
}

.ul-footer {
  list-style: none;
}

.li-footer{
  margin-bottom: 4px;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.botao-perfil {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.icone-perfil {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}

.dropdown-content{
  margin-left: -50px;
}
