header{
  background-color: white;
  box-shadow: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;
  transition: top 0.5s ease 0s;
  height: 90px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  // z-index: 9999;
}

  h1{
    display: flex;
    color: #4783b3;
    justify-content: space-between;
    width: 13vw;
  }
  /* Estilos para o corpo */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Define a altura mínima do corpo como 100% da altura da viewport */
    margin: 0;
  }

  main {
    flex: 1; /* Ocupa todo o espaço restante do corpo */
    padding: 20px;
  }

  /* Estilos para o rodapé */
  footer {
    background-color: #1272c0;
    color: #fff;
    padding: 20px;

  }
  a {
    text-decoration: none;
    color: White; /* Defina a cor do link conforme desejado */
  }

  ::ng-deep{
    .botaoEntrar .p-ripple{
      background-color: white;
      color: #1272c0;
      border-radius: 5px;
    }

    .p-button .botaoHeader {
      color: #ffffff;
      background: red;
      border: 1px solid #2196F3;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
      border-radius: 5px;
  }
  .p-button{
    position: inherit;
  }

  }
