body{
  margin: 0;
  padding: 0;
  background: rgb(246, 246, 246);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Esconda a barra de endereço no navegador embutido */
body {
  --viewport-fit: cover;
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
  padding-top: constant(safe-area-inset-top); /* Para o IE Mobile */
  padding-top: env(safe-area-inset-top);
}


.dark{
  --gira-bg-color: #000000;
  --gira-card-bg-color:rgb(19, 19, 19);
  --gira-main-color: rgb(254, 254, 254);
  --gira-card-main-color: rgb(254, 254, 254);
  --gira-header-color:rgb(254, 254, 254);
}

.light{
  --gira-bg-color: #f6f6f6;
  --gira-card-bg-color:#ffffff;
  --gira-main-color: #000000;
  --gira-card-main-color: #495057;
  --gira-header-color:rgb(117, 117, 117);
}
