.carousel {
  position: relative;
}

.slides {
  display: flex;
  overflow: hidden;
}

.slide {
  flex: 0 0 100%;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button {
  margin: 0 5px;
}


.header-pagina-home {
  width: 100vw;
  height: 700px !important;
  margin-top: -53px;
  background: #FEF7ED !important;
  display: flex;
  justify-content: center;
  align-items: center;
}


.carousel {
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 100%;
  transition: transform 0.3s ease;
}

.slide {
  flex: 0 0 100%;
  position: relative;
}

.slide img {
  width: 100%;
}

.button-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 33.3%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 60px;
}

.prev-button,
.next-button {
  background-color: transparent;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.prev-button {
  margin-right: 10px;
}

.next-button {
  margin-left: 10px;
}

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;

}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 850px;
}

.span-pets {
  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  line-height: 1.4em;
  font-family: 'worksans-semibold', 'work sans', sans-serif !important;
  color: #3A54B4;
}

.botao-saiba-mais-home {
  background-color: #3A54B4;
  border: none;
  color: white;
  height: 45px;
  width: 110px;
  border-radius: 4px;
  margin-top: 20px;
}

.fotos-3-animais {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-top: -30px;
}

.container-sobre-o-girapets {
  background-image: url('../../assets/fundo-sobre-pets.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 570px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

}

.container-conheça-girapets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-como-funciona {
  background: #FEF7ED;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -15px;
    min-height: 550px;
}

.caixinha-passos-adocao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 230px;
}

.container-da-caixinha-passos-adocao {
  display: flex;
  width: 75%;
  margin-top: 50px;
  margin-bottom: 70px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.texto-passos-adocao{
  width: 210px;
   margin-top: 10px;
   color: rgb(117, 117, 117);
}

.span-pets {
  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  line-height: 1.4em;
  font-family: 'worksans-semibold', 'work sans', sans-serif !important;
  color: #3A54B4;
}

.texto-sobre-animais{
  margin-top: 40px;

}

.nome-logo-span{
  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  line-height: 1.4em;
  font-family: 'worksans-semibold', 'work sans', sans-serif !important;
  color: #3A54B4;
}

.span-titulos{
  font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    color: rgb(69, 69, 69);
}
.conheca-o-girapets-paragrafo{
  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  line-height: 1.4em;
  font-family: 'worksans-semibold', 'work sans', sans-serif !important;
  color: #3A54B4;
}

@media screen and (max-width: 868px) {

  .botao-saiba-mais-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .nome-logo{
    margin-top: 130px;
  }

  .caixinha-nome-logo-span{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nome-logo-span{
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 1.4em;
    font-family: 'worksans-semibold', 'work sans', sans-serif !important;
    color: #3A54B4;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 850px;
  }
  .img-logo-principal{
    width: 300px !important;
    height: 300px !important;
    border-radius: 50%;
  }
}

@media screen and (max-width: 664px) {

  .texto-sobre-animais{
    margin-top: 40px;
    width: 35% !important;
  }

  .texto-conheca-girapets{
    width: 35% !important;
    color: #3A54B4;

  }

  .encontre-seu-amigo{
    color: #3A54B4;
    font: normal normal  22px/1.4em worksans-extralight,'work sans',sans-serif !important
  }

  .conheca-o-girapets-paragrafo{
    font-style: normal;
  font-weight: bold;
  font-size: 40px !important;
  line-height: 1.4em;
  font-family: 'worksans-semibold', 'work sans', sans-serif !important;
  color: #3A54B4;
    width: 220px;
    margin-top: 70px;
  }
  .img-animal1 {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
  }

  .fotos-3-animais {
    display: flex;
    justify-content: space-between;
    width: 340px;
    margin-top: -30px;
  }

  .container-da-caixinha-passos-adocao {
    display: flex;
    width: 75%;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    height: 1250px;
    margin-bottom: 60px;
  }

  .span-pets {
    font-style: normal;
    font-weight: bold;
    font-size: 40px  !important;
    width: 300px;
    line-height: 1.4em;
    font-family: 'worksans-semibold', 'work sans', sans-serif !important;
    color: white;
  }


}

@media screen and (max-width: 829px) and (min-width: 664px) {
  .img-animal1 {
    width: 170px !important;
    height: 170px !important;
    border-radius: 50%;
  }
  .fotos-3-animais {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-top: -30px;
  }
}
