::ng-deep{

  .p-dialog {
    -ms-flex-direction: column;
    -ms-transform: scale(1);
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    max-height: 90%;
    position: relative;
    transform: scale(1);
    overflow-x: hidden;
}

.p-grid{
  overflow-x: hidden;
}

.hidden-file-input {
  display: none;
}

img{
  height: 400px;
  width: 200px !important;
}


}
