<form [formGroup]="animaisFormGroup" (ngSubmit)="addAnimal()">
  <div class="add-animal-container">


    <div class="container-corpo">
      <span *ngIf="uploadedImages.length > 0">Imagens a serem adicionadas: </span>
      <div class="div-imagens-upadas">
        <img class="imagem-upada" *ngFor="let image of uploadedImages" [src]="image?.url" [alt]="image.name">
      </div>
      <!-- Botão personalizado -->
      <button style="margin-top: 30px; margin-bottom: 40px;" type="button" class="botao-card-editar" (click)="fileInput.click()">
        <i class="pi pi-upload"></i>
        Selecionar foto
      </button>

      <!-- Elemento input type="file" oculto -->
      <input style="display: none;" type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" multiple
        formControlName="imagem" class="hidden-file-input">

    </div>

    <div class="container-formulario">
      <div class="campo-form">
        <h3>Nome</h3>
        <div class="p-field">
          <input type="text" class="input-add-animal" pInputText formControlName="nome" placeholder="Ex: Peludinho" />
          <small *ngIf="1 < 0" class="p-invalid">Campo obrigatório.</small>
        </div>
      </div>


      <div class="campo-form">
        <h3>Especie</h3>
        <div class="p-field">
          <input type="text" class="input-add-animal" pInputText formControlName="especie" placeholder="Cachorro, gato, etc." />
          <small *ngIf="1 < 0" class="p-invalid">Campo obrigatório.</small>
        </div>
      </div>


      <div class="campo-form">
        <h3>Raça</h3>
        <div class="p-field">
          <input type="text" class="input-add-animal" pInputText formControlName="raça" placeholder="Ex: Bulldog" />
          <small *ngIf="1 < 0" class="p-invalid">Campo obrigatório.</small>
        </div>
      </div>

      <div class="campo-form">
        <h3>Sexo</h3>
        <div class="p-field">
          <input type="text" class="input-add-animal" pInputText formControlName="sexo" placeholder="Macho ou Fêmea" />
          <small *ngIf="1 < 0" class="p-invalid">Campo obrigatório.</small>
        </div>
      </div>


      <div class="campo-form">
        <h3>Idade</h3>
        <div class="p-field">
          <input type="text" class="input-add-animal" pInputText formControlName="idade" placeholder="Ex: 1 ano e seis meses" />
          <small *ngIf="1 < 0" class="p-invalid">Campo obrigatório.</small>
        </div>
      </div>


      <div class="campo-form">
        <h3>Descrição</h3>
        <div class="p-field">
          <input type="text" class="input-add-animal" pInputText formControlName="descricao" placeholder="Ex: Animal dócil e carinhoso"/>
          <small *ngIf="1 < 0" class="p-invalid">Campo obrigatório.</small>
        </div>
      </div>


      <div class="campo-form">
        <h3>Cidade</h3>
        <div class="p-field">
          <input type="text" class="input-add-animal" pInputText formControlName="cidade" placeholder="Ex: Girassol-GO" />
          <small *ngIf="1 < 0" class="p-invalid">Campo obrigatório.</small>
        </div>
      </div>
    </div>
  </div>

  <div class="container-botoes">
    <div class="caixinha-botoes">
      <button class="botao-fechar" type="submit">Fechar</button>
      <button class="botao-salvar" type="submit">Salvar</button>
    </div>
  </div>
</form>
