::ng-deep {



  .p-dialog {
    -ms-flex-direction: column;
    -ms-transform: scale(1);
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    max-height: 90%;
    position: relative;
    transform: scale(1);
    overflow-x: hidden;
  }

  .p-grid {
    overflow-x: hidden;
  }

  .hidden-file-input {
    display: none;
  }

  img {
    height: 400px;
    width: 200px !important;
  }


}

.div-imagens-upadas {
  width: 500px;
  margin-top: 30px;
  display: flex;
  min-width: 330px;
  margin-bottom: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-corpo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.imagem-upada {
  width: 160px;
  height: 180px;
  border-radius: 5px !important;
  min-width: 160px;
  min-height: 180px;
  margin-bottom: 10px;
}

.container-formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.botao-fechar {
  border: 1px solid #2196F3;
  border-radius: 5px;
  height: 39.2px;
  color: #2196F3;
  background: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;

}

.botao-salvar {
  border: none;
  border-radius: 5px;
  height: 39.2px;
  color: white;
  background: #2196F3;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.container-botoes-add-animal {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.caixinha-botoes-add-animal {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.container-radio-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.caixinha-radio-button{
  width: 75px;
    display: flex;
    justify-content: space-between;
}

.input-add-animal {
  margin: 0;
  border: 1px solid #8e8585 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  padding: 0.5rem 0.5rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 3px;
}

@media screen and (max-width: 975px) {
  .container-botoes-add-animal {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
